<!--<h1>creation of components</h1>
<app-about></app-about>
<app-user></app-user>-->

<nav>
    <a routerLink="home" [routerLinkActive]="'is-active'">Home</a>
    <a routerLink="about" [routerLinkActive]="'is-active'">About</a>
    <a routerLink="user" [routerLinkActive]="'is-active'">User</a>
    <a routerLink="product" [routerLinkActive]="'is-active'">Products</a>
    <a routerLink="gallery" [routerLinkActive]="'is-active'">Gallery</a>
    <a routerLink="contact" [routerLinkActive]="'is-active'">Contact</a>
</nav>
<router-outlet></router-outlet>