

.is-active{
    background-color: green;
    border-bottom: 3px solid blue;
}


nav{
    background-color: brown;
    padding:10px;
    
}
a{
    padding:10px;
    font-size:25px;
    color:white;
    text-decoration: none;
}
