table,tr,th,td{
    border:2px solid blue;
    padding:10px;
    text-align:center;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th {
    background-color: aqua;
}
td{
    background-color: yellow;
}
.image{
    width:40px;
}